.custom-header {
  background: #ffffff;
  z-index: 999;
  border-bottom: 1px solid rgba(0, 0, 0, 0.03);
  margin-top: 2px;
  padding-bottom: 4px;
  height: 50px;
}

/* Container */

.container {
  width: 1200px;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media(min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media(min-width: 768px) {
  .container {
    width: 750px;
  }
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.logo-container {
  padding: 5px 0 5px;
  width: 16.66667%;
  float: left;
}

.logo-link {
  color: #252525;
  text-decoration: none;
}

.logo {
  width: 100px;
  padding-top: 5px;
}

.menu-container {
  padding-right: 0;
  width: 83.33333%;
  display: -webkit-box;
}

.menu-container ul {
  float: right !important;
  margin-left: 65%;
  list-style: none;
}

.menu-container ul>li {
  float: left;
}

.menu-container ul>li>a, .menu-container ul>li>a:active, .menu-container ul>li>a:visited {
  font-size: 12px;
  font-weight: 600;
  color: black;
  padding: 12px 12px;
  height: auto;
  position: relative;
  text-transform: uppercase;
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.menu-container ul>li>a:hover {
  color: #3579e2;
}